@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.navigation {
  background-color: #36b4b4;
}
.nav-link {
  color: white !important;
  font-size: 20px;
  margin-top: 2.5%;
}
.StyledBox-sc-13pk1d4-0:nth-child(0) {
  padding: 0 !important;
  margin-right: 2%;
}
.StyledBox-sc-13pk1d4-0:nth-child(1) {
  font-size: 18px;
}
.buzz {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 3%;
}
.ourStory {
  margin-top: 3%;
}
.hide{
  margin-bottom:0;
}
.userDropdown{
  margin-right:2%;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
.signup {
  background-color: aquamarine;
  border-radius: 25px;
  padding: 0px 20px;
  min-width: 30px;
} */
