@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Roboto&display=swap');

.navigation {
  background-color: aquamarine;
}
.hide{
  margin-bottom: 0;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 
.signup {
  background-color: aquamarine;
  border-radius: 25px;
  padding: 0px 20px;
  min-width: 30px;
} */


