.accountUserInfo {
  background-color: #f1f3f5;
  text-align: center;
  display: flex;
  justify-content: center;
  margin: auto;
  flex-direction: column;
}

.location {
  font-size: 20px;
}
.accountName {
  font-size: 45px;
  margin: 0;
}
.accountUsername {
  font-size: 25px;
}
.userPostsTitle {
  font-size: 30px;
  text-align: center;
}
.userPostsTitle {
  font-size: 20px;
  margin: 2% auto 3% auto;
}

/* @media screen and (min-width: 300px) {
  .ProfileComponent {
    font-size: 14px;
    max-height: 100vh;
    max-width: 100vh;
    padding: 1.3em;
  } */

/* POSTS */

.UserPostComponent {
}

/* @media screen and (min-width: 570px) {
  html {
    font-size: 15px;
  }
  .introductionItems {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 620px) {
  html {
    font-size: 16px;
  }
}

@media screen and (min-width: 680px) {
  html {
    font-size: 17px;
  }

  .introductionComponent {
    max-width: 100vh;
  }

  .introductionMenu {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}

@media screen and (min-width: 720px) {
  html {
    font-size: 18px;
  }
}

@media screen and (min-width: 920px) {
  html {
    font-size: 21px;
  }
}

@media screen and (min-width: 1000px) {
  html {
    font-size: 22px;
  }
} */
