.ForumComponent {
  align-items: center;
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 4%;
  height: 90vh;
}

.ForumPostsComponent {
  display: flex;
  flex-direction: column-reverse;
}
.postFormSubmit {
  display: flex;
  justify-content: center;
}
.forumHeader {
  margin: 0 auto 3% auto;
  font-size: 20px;
}

/* POST COMPONENT  */
.PostComponent {
  display: flex;
  flex-direction: row;
  width: 700px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 0.3px solid #bebebe;
  padding-top: 15px;
}
.postUserInfo > p {
  margin: 0;
  padding: 0;
}
.name {
  font-size: 20px;
  margin-right: 10px;
}
.postTitle {
  font-size: 22px;
  color: black;
  margin-right: 10px;
  padding-top: 10px;
}
a.postBody {
  font-size: 20px;
  color: #014;
}
.postBody:hover {
  background-color: #cdf;
}
.mainPostDiv {
  text-align: start;
  margin: 0;
}
.postFilter {
  text-align: start;
  margin: 20px;
}

.postUserInfo {
  text-align: start;
  margin: 0;
}
.postInteractionInfo {
  text-align: start;
  margin: 0;
}
.postCreatedInfo {
  text-align: start;
  margin: 0;
}
span.location,
span.time {
  margin: 0;
}

.username {
  font-size: 15px;
}

.tag {
  font-size: 20px;
  margin-top: 15px;
}
.category {
  font-size: 30px;
  margin-top: 15px;
}
.time {
  font-size: 15px;
  margin: 10px;
}
.location {
  font-size: 10px;
  margin: 10px;
}
.userAvatar {
  height: 50px;
  margin: 10px;
}
.tag {
  padding-right: 10px;
}
.likes {
  margin-right: 30px;
}

.ForumTags {
  display: flex;
  flex-direction: row;
  margin: 5% 0 5% 0;
}
.btn {
  display: inline-block;
  border: 2px solid #ddd;
  color: #ddd;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
  transition: all 0.6s;
  min-width: 100px;
  height: 35px;
  text-align: center;
}
.btn:hover {
  background: #ddd;
  color: #fff;
}
.btn.btn-btn {
  border-radius: 40px;
}
.btn.color-1 {
  border-color: #b05;
  color: #b05;
}
.btn.color-1:hover {
  background: #b05;
  color: #fff;
}
.btn.color-2 {
  border-color: #a0a;
  color: #a0a;
}
.btn.color-2:hover {
  background: #a0a;
  color: #fff;
}
.btn.color-3 {
  border-color: #63b;
  color: #63b;
}
.btn.color-3:hover {
  background: #63b;
  color: #fff;
}
.btn.color-4 {
  border-color: #04e;
  color: #04e;
}
.btn.color-4:hover {
  background: #04e;
  color: #fff;
}
.btn.color-5 {
  border-color: #09a;
  color: #09a;
}
.btn.color-5:hover {
  background: #09a;
  color: #fff;
}
.btn.color-6 {
  border-color: #096;
  color: #096;
}
.btn.color-6:hover {
  background: #096;
  color: #fff;
}
.btn.color-7 {
  border-color: #d35400;
  color: #d35400;
}
.btn.color-7:hover {
  background: #d35400;
  color: #fff;
}
.btn.color-8 {
  border-color: #d80;
  color: #d80;
}
.btn.color-8:hover {
  background: #d80;
  color: #fff;
}
.btn.color-9 {
  border-color: #bdc3c7;
  color: #bdc3c7;
}
.btn.color-9:hover {
  background: #bdc3c7;
  color: #fff;
}
.btn.color-10 {
  border-color: #7f8c8d;
  color: #7f8c8d;
}
.btn.color-10:hover {
  background: #7f8c8d;
  color: #fff;
}
